---
---

<!doctype html>
<html lang="es_ES">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="icon" type="image/png" href="/img/icono.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Johan Mosquera - Website</title>
		<meta name="description" content="Johan Mosquera - Desarrollador, geek y diseñador. Página web personal de Johan Mosquera. Johan Camilo Mosquera Ninco" />
		<meta name="keywords" content="Johan Camilo Mosquera Ninco, Johan Mosquera, Personal, Marca, Sitio Web, Marca Personal, Johan, Camilo, Mosquera, Ninco, Johan Camilo, jocode, Diseño, php, java, Programación, MySQL, marketing digital, SEO, SEM, SMM, SMO, Photoshop, HTML, CSS, Javascript, XML, RSS." />
		<meta name="theme-color" content="#1e2b38" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

		<!-- SEO -->
		<link rel="canonical" href="https://jocode.github.io/" />
		<meta name="author" content="Johan Mosquera" />
		<meta name="copyright" content="Johan Mosquera" />
		<meta name="designer" content="Johan Mosquera" />
		<meta name="publisher" content="Johan Mosquera" />

		<meta property="og:locale" content="es_ES" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Johan Mosquera - Website" />
		<meta property="og:description" content="Johan Mosquera - Desarrollador, geek y diseñador. Página web personal de Johan Mosquera. Johan Camilo Mosquera Ninco." />
		<meta property="og:url" content="https://jocode.github.io/" />
		<meta property="og:site_name" content="Johan Mosquera - Website" />

		<!-- og tags Facebook -->
		<meta property="fb:admins" content="1325183327599534" />
		<meta property="og:title" content="Johan Mosquera - @johanmosquera.me" />
		<meta property="og:description" content="Johan Mosquera - Blog posts, presentations, games, web sites, apps, GitHub, and more..." />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="jocode.github.io" />
		<meta property="og:url" content="https://jocode.github.io/" />
		<meta property="og:image" content="https://avatars0.githubusercontent.com/u/24928806?s=460&v=4" />

		<!-- og tags Google+ -->
		<meta itemprop="description" content="Johan Mosquera - Blog posts, presentations, games, web sites, apps, GitHub, and more..." />

		<!-- Twitter Cards -->
		<meta property="twitter:account_id" content="3153150346" />
		<meta name="twitter:site" content="@johanmosquer" />
		<meta name="twitter:url" content="https://twitter.com/johanmosquer" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Johan Mosquera - @johanmosquer" />
		<meta name="twitter:description" content="Johan Mosquera - Blog posts, presentations, games, web sites, apps, GitHub, and more..." />
		<meta name="twitter:creator" content="@johanmosquer" />
		<meta name="twitter:image" content="https://avatars0.githubusercontent.com/u/24928806?s=460&v=4" />
		<meta name="twitter:domain" content="jocode.github.io/" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		background-color: #fff;
		font-family: 'Open Sans', Sans-serif;
		font-size: 16px;
		margin: 0;
		padding: 0;
	}
</style>
