---
// Import necessary assets
---

<div class="profile-photo">
  <img src="https://avatars.githubusercontent.com/u/24928806?s=400&u=31d407f1bff86a2b0972d5157e0c78f2e0cbb047&v=4" alt="Johan Mosquera" title="Perfil" />
</div>

<style>
  .profile-photo {
    text-align: center;
    position: relative;
    z-index: 10;
    margin-top: -80px;
    margin-left: 14px;
  }
  
  .profile-photo img {
    height: 115px;
    width: 115px;
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(41, 23, 6, 0.7);
    margin-top: 0;
  }
</style>